In [2]:
import pandas as pd
df = pd.read_csv("NBA_INTL_FIBA_Clustering.csv", encoding="utf-8")
df

,Player,FIBA_P&R Ball Handler,FIBA_Spot-Up,FIBA_Transition,FIBA_ISO,FIBA_Post-Up,FIBA_P&R Roll Man,FIBA_Cut,FIBA_Offensive Rebound,FIBA_Off Screen,...,NBA_Spot-Up,NBA_Transition,NBA_ISO,NBA_Post-Up,NBA_P&R Roll Man,NBA_Cut,NBA_Offensive Rebound,NBA_Off Screen,NBA_Hand Off,NBA_Cluster
0,AARON BEST,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AARON BROOKS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,474.0,377.0,498.0,0.0,2.0,23.0,134.0,64.0,172.0,2.0
2,AARON CEL,6.0,95.0,14.0,2.0,14.0,20.0,17.0,19.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AARON CRAFT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AARON DOORNEKAMP,8.0,23.0,12.0,0.0,2.0,1.0,4.0,16.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5190,ZORAN PAUNOVIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5191,ZORAN PLANINIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5192,ZORAN VRKIC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5193,ZVONKO BULJAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5194,ZYGMANTAS JANAVICIUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
name = df['Player'][df['Player'].str.contains('CALDERON')].iloc[1]
name

'JOSÃÂ-MANUEL CALDERON'

In [38]:
[s.encode('latin-1') for s in df['Player'].unique() if '\x' in s]

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \xXX escape (<ipython-input-38-0d1b225f5449>, line 1)

In [28]:
#bytes(name, 'utf-8')
name.encode('latin-1')
# .decode('utf-8')

b'JOS\xc3\xc2-MANUEL CALDERON'

In [34]:
name.encode('raw-unicode-escape').decode('utf-8')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: invalid continuation byte

In [35]:
b'\xc3\x89'.decode('utf-8')

'É'

In [5]:
df2 = pd.read_csv("../../Data/FIBAData.csv", index_col = 0, encoding='latin-1')

In [14]:
d = df2[df2['Player'].astype(str).str.contains('Calderon')].head()
d

,Region,Date,Away Team,Home Team,Result,Team,Period,Clock,Player,Play Details,Away Score,Home Score
ID,,,,,,,,,,,,
458932,2016 Olympics,8/17/2016,France,Spain,Non Shooting Foul,Spain,4,4:56,José Calderon,8 José Calderon > Non Possession > Non Shootin...,55,81
458939,2016 Olympics,8/17/2016,France,Spain,Turnover,Spain,4,4:31,José Calderon,8 José Calderon > No Play Type > Turnover,57,81
458952,2016 Olympics,8/17/2016,France,Spain,Make 2 Pts,Spain,4,3:41,José Calderon,8 José Calderon > ISO > Top > Drives Right > T...,57,83
458995,2016 Olympics,8/17/2016,France,Spain,Miss 3 Pts,Spain,4,1:02,José Calderon,8 José Calderon > No Play Type > Dribble Jumpe...,62,90
459001,2016 Olympics,8/17/2016,France,Spain,Miss 3 Pts,Spain,4,0:30,José Calderon,8 José Calderon > P&R Ball Handler > High P&R ...,65,90

In [17]:
d.to_csv('Test.csv', encoding='latin-1')

In [45]:
new_data = pd.read_csv('../Play Counts/FIBA_Play_Counts.csv', encoding='latin-1')
n = new_data[new_data['Unnamed: 0'].str.contains('Calderon')].iloc[0].iloc[0]
n

'JosÃ© Calderon'

In [48]:
n.encode('latin-1').decode('utf-8')

'José Calderon'

In [49]:
new_data = pd.read_csv('../Play Counts/FIBA_Play_Counts.csv', encoding='utf-8')
n = new_data[new_data['Unnamed: 0'].str.contains('Calderon')].iloc[0].iloc[0]
n

'José Calderon'